html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
/* For creating a separate top Nav Bar with shadow */
header {
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.header::after {
  content: '';
  display: table;
  clear: both;
}
#navbar {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  display: inline;
  z-index: 1;
}
#nav-container {
  position: relative;
	margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}
nav {
    float: left;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 1.25em;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    position: relative;
}
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.88em;
}
nav a::before {
    content: '';
    display: block;
    height: 7%;   
    background-color: #595959;
    position: absolute;
    top: 12%;
    border-radius: 30px;
    width: 0%;
    transition: all ease-in-out 240ms;
}
nav a:hover::before {
  width: 100%;
}

.particles {
  position: fixed;
  z-index: -1;
}

h1 {
  text-transform: uppercase;
  font-size: 2.25em;
  color: #0f1025;
  letter-spacing: 0.1em;
  border-bottom: 0.085em solid rgba(0, 0, 0, 0.651);
  padding-bottom: .255em;
}

h2, h3 {
  text-transform: uppercase;
}
h3 {
  font-weight: 400;
  font-size: 1.1em;
}

h4 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 1 1 1 1;
}

.page_header {
  display: flex;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  justify-content: center;
}
.page_header div {
  margin-top: 4em;
  z-index: 0;
  margin-bottom: 0
}

#about {
    height: 100%;
}
#about h1 {
  font-weight: bold;
}


#port {
  background-color: rgb(231, 231, 231);
}
.port_text div{
  margin-bottom: 2em;
}
.port_text img {
  border-radius: 20px;
}
#port h4 {
  font-weight: normal;
  letter-spacing: 0.13em;
}

.port_text {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  justify-content: center;
  margin-left: 15em;
  margin-right: 15em;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: center;
  align-items: end;
  z-index: 0;
}
.port_text div {
  margin-right: 1em;
  margin-left: 1em;
  justify-self: center;
}
.port_text h4 {
  text-align: center;
  z-index:  0;
  position: relative;
}
.port_text img {
  width: 100%;
  height: 100%;
}
.p_img {
z-index: 0;
position: relative;
}

#profile_ctnr {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;

  display: flex;
  margin-top: 4em;
  margin-bottom: 3em;
  justify-content: space-evenly;
  flex-wrap: wrap;  
}
#profile_ctnr div {
    position: relative;
}
#profile_pic {
    top: 1.5em;
    margin-left: 8.0em;
}
#profile_pic img {
  border-radius: 20px;
  width: 300px;
  height: auto;
}
#profile_text {
  width: 430px;
  margin-right: 3.5em;
}
#profile_text div {
  line-height: 155%;
}
#interests {
  list-style-type: none;
}
/* .pong {
  position: absolute;  
  top: 11em;
  bottom: 5em; 
  text-align: center;
  left: 3em;
  right: 3em;
  z-index: 0;
}
#pongCanvas {
  border-radius: 30px;
  width: 100%; 
  height: 100%;
} */

#edu {
    background-color: rgb(245, 245, 207);
}
.edu_ctnr {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;

  display: block;
  position: relative;
}


#edu p {
  letter-spacing: 0.020em;
  font-size: 1em;
}

.edu_ctnr div, .contact_text div {
    text-align: center;
    padding: 1em 1.5em 2em 1.5em; 
    letter-spacing: 0.085em;
}


#exp {
  background-color: rgb(117, 146, 241);
  color: rgba(255, 255, 255, 0.801);
}

#exp h1 {
  text-align: center;
  border-bottom-color: rgba(255, 255, 255, 0.801);
  color: white;
}


.exp_ctnr div {
  text-align: center;
  padding: 1em 1.5em 2em 1.5em; 
  letter-spacing: 0.085em;
  border-bottom-color: white;
}

.exp_text {
  display: block;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  justify-content: center;
}

#exp p {
  font-size: 1em;
  letter-spacing: 0.020em;
}

#contact {
    width: 100%;
    height: 100%;
}
#contact img {
  border-radius: 20px;
}
.contact_text {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  justify-content: center;
}

/* Media Queries */

@media (max-width: 535px) {
  #nav-container {
    font-size: .90em;
  }
}
@media (max-width: 795px) {
  #about {
    height: auto;
  }
  #profile_ctnr {
    margin-top: 0em;
  }
  #profile_text {
    top: 2em;
    font-size: .9em;
    margin-left: 1em;
    width: 100vw;
  }
  #profile_pic img {
    width: 35vw;
  }
}
@media (max-width: 1055px) {
  #profile_pic {
    margin-left: 0em;
  }
  #profile_text {
    margin-right: 0em;
  }
}
@media (max-width: 1600px) {
  .port_text {
    margin-left: 0em;    
    margin-right: 0em;    
  }
}